src/backend/.env
src/backend/.venv
src/backend/.DS_Store
src/backend/services/__pycache__
src/backend/__pycache__
src/backend/routes/__pycache__
src/backend/log

.DS_Store

Recherche Janvier 2026.xlsx

Candidatures/
Applications/

src/resume/resume.pdf
src/resume/test.pdf
src/resume/public/resume_overrides
src/resume/node_modules
src/resume/*.pdf
~$Recherche Janvier 2026.xlsx
src/.venv
src/app/__pycache__
src/scraper/__pycache__
src/jobs.db
src/db/__pycache__
src/resume/public/overrides.json
src/db/jobs.db
