<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.jobsearch</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/python3</string>
        <string>/Users/cefue/Build/OverengineeredJobSearch/src/scraper/scrape.py</string>
    </array>

    <key>StartInterval</key>
    <integer>86400</integer>

    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>

    <key>StandardOutPath</key>
    <string>/tmp/jobhunter.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/jobhunter.error.log</string>
</dict>
</plist>
